@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header bg-info text-white">
            <h2>Teste CRUD para DBM - Contact Center</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                :)
            </p>
            <a class="btn btn-primary" asp-controller="ProdutosMvc" asp-action="Index">Ir para Produtos (MVC)</a>
            <a class="btn btn-warning" href="/swagger" target="_blank">Ir para Swagger</a>
        </div>
        <div class="card-footer text-muted">
            &copy; 2024 - TesteDBM - João Vitor de Andrade Hofmann
        </div>
    </div>
</div>